@using Radzen
@using Radzen.Blazor
@using api.Models.QLBienSoan

@inject DialogService DialogService
<RadzenStack Gap="1.2rem" Class="rz-p-2">
 <RadzenStack Gap="0">
        <RadzenText TextStyle="TextStyle.H6" Weight="FontWeight.Bold" Class="rz-mb-0">Nhập kết quả thẩm định</RadzenText>
        <RadzenText TextStyle="TextStyle.Caption">@SelectedGTTL?.TenGTTL</RadzenText>
    </RadzenStack>

    <hr class="rz-m-0" />

    @* <div>
        <RadzenLabel Text="Kết luận" Style="font-weight: bold; font-size: 13px;" />
        <RadzenRadioButtonList @bind-Value="@SelectedGTTL.k" TValue="string" Orientation="Orientation.Vertical" Class="rz-w-100">
            <Items>
                <RadzenRadioButtonListItem Text="Đạt" Value="Đạt" />
                <RadzenRadioButtonListItem Text="Cần chỉnh sửa" Value="Cần chỉnh sửa" />
                <RadzenRadioButtonListItem Text="Không đạt" Value="Không đạt" />
            </Items>
        </RadzenRadioButtonList>
    </div> *@

    <div>
        <RadzenLabel Text="Ngày giao nhiệm vụ" Style="font-weight: bold; font-size: 13px;" />
        <RadzenDatePicker @bind-Value="@SelectedGTTL.NgayGiaoNV" Style="width: 100%;" DateFormat="dd/MM/yyyy" Placeholder="dd/mm/yyyy" />
    </div>

    <div>
        <RadzenLabel Text="Số quyết định giao nhiệm vụ" Style="font-weight: bold; font-size: 13px;" />
        <RadzenText TextStyle="TextStyle.Caption" class="rz-mb-0" @bind-Value="@SelectedGTTL.SqdGiaoNV" Style="width: 100%;" />
    </div>

    <div>
        <RadzenLabel Text="File quyết định *" Style="font-weight: bold; font-size: 13px;" />
        <RadzenUpload Url="upload/single" Class="custom-upload-box" Multiple="false">
            <ChildContent>
                <RadzenStack AlignItems="AlignItems.Center" Gap="0.5rem" Class="rz-p-4">
                    <RadzenIcon Icon="cloud_upload" Style="font-size: 30px; color: #aaa;" />
                    <RadzenText TextStyle="TextStyle.Caption" Class="rz-mb-0">Tải lên biên bản thẩm định</RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline">PDF, DOC, DOCX (tối đa 10MB)</RadzenText>
                </RadzenStack>
            </ChildContent>
        </RadzenUpload>
    </div>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="10px" Class="rz-mt-4">
        <RadzenButton Text="Hủy" Click="(() => DialogService.Close())" ButtonStyle="ButtonStyle.Light" Style="min-width: 80px;" />
        <RadzenButton Text="Lưu kết quả" Click="Submit" ButtonStyle="ButtonStyle.Primary" Style="min-width: 120px;" />
    </RadzenStack>
</RadzenStack>
@code {
    [Parameter] public tbGTTL? SelectedGTTL { get; set; }

    protected async void Submit()
    {
        DialogService.Close(true);
    }
}
